.cache-list-panel
  display: flex
  flex-direction: column
  gap: 1em
  padding-top: 1em
  padding-bottom: 1em
  text-align: left

.flex-row
  display: flex
  flex-direction: row
  gap: 1em
  justify-content: space-between
  align-items: baseline
  :global(.bp5-form-group)
    align-items: baseline
    margin-bottom: 0
    padding-bottom: 0
